/* HOMEPAGE CSS */
/* Hero CSS*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 80px 150px;
  background-color: #2DA657;
}

.hero img{
  width: 30vw;
}

.hero p {
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
}

/* Berita CSS */
.berita {
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}

.cari {
  padding: 0 25px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.cari input {
  padding: 5px 20px;
  border: 2px solid #000;
  border-radius: 20px;
  width: 400px;
}
.cari i{
  font-size: 30px;
  cursor: pointer;
}

.cari button {
  background-color: transparent;
}

.content-berita {
  padding: 0 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-berita {
  width: 350px;
  border-radius: 10px;
  background: #F6F6E9;
  box-shadow: 0px 4.5px 3.6px 0px rgba(0, 0, 0, 0.02), 0px 12.5px 10px 0px rgba(0, 0, 0, 0.04), 0px 30.1px 24.1px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-berita img {
  border-radius: 10px;
  width: 100%;
  height: 10vw;
  object-fit: cover;
  margin-bottom: 10px;
}

.card-berita .text-berita {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
  margin-bottom: 25px;
}

.card-berita .text-berita h2 {
  color: #000;
  font-size: 30px;
  font-weight: 500;
}

.card-berita .text-berita .keterangan {
  display: flex;
  gap: 5px;
}

.keterangan .waktu{
  display: flex;
  gap: 5px;
}

.keterangan .waktu i{
  font-size: 20px;
}

.card-berita .text-berita .content {
  color: #000;
  text-align: justify;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-overflow: clip;
}

.card-berita .btn-berita {
  padding: 6px 30px;
  background-color: #717775;
  text-align: center;
  color: #fff;
  border-radius: 15px;
}

	/* Breakpoint */	
  @media (max-width:768px) {	
    /* Hero CSS 768*/	
    .hero {	
      gap: 20px;	
      padding: 40px 75px;	
    }	
    .hero img {	
      width: 35vw;	
    }	
    .hero p {	
      font-size: 20px;	
    }	
    /* Berita CSS 768 */	
    .berita {	
      padding: 30px 75px;	
      gap: 25px;	
    }	
    .cari {	
      width: 100%;	
      padding: 0 25px;	
      display: flex;	
      align-items: center;	
      justify-content: center;	
    }	
    .card-berita img {	
      width: 100%;	
      height: 300px;	
      background-size: cover;	
    }	
  }	
  @media (max-width:425px) {	
    /* Hero CSS 425*/	
    .hero {	
      gap: 20px;	
      padding: 40px 50px;	
    }	
    .hero img {	
      width: 40vw;	
    }	
    .hero p {	
      font-size: 15px;	
    }	
    /* Berita CSS 425*/	
    .berita {	
      padding: 30px;	
    }	
    .card-berita .text-berita {	
      gap: 8px;	
    }	
    .card-berita .text-berita h2 {	
      font-size: 25px;	
    }	
    .keterangan .waktu i {	
      font-size: 15px;	
    }	
    .keterangan .waktu p {	
      font-size: 12px;	
    }	
    .card-berita .text-berita .text p {	
      font-size: 12px;	
      height: 180px;	
      overflow: hidden;	
      text-overflow: ellipsis;	
    }	
    .card-berita .btn-berita {	
      padding: 6px 25px;	
      font-size: 15px;	
    }	
  }