* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container__left {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #F6F6E9;
}

.container__left img {
  width: 100%;
  max-width: 220px;
  padding-bottom: 10px;
}

.container__left h2 {
  font-size: 1.75rem;
  font-weight: 500;
  color: #717775;
}

.container__left p {
  max-width: 500px;
  font-size: 1rem;
  text-align: center;
  color: #717775;
}

.container__right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 350px;
  display: grid;
  gap: 1rem;
}

.logo {
  max-width: 150px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.header {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #717775;
  text-align: center;
}

form {
  display: grid;
}

.input__group {
  position: relative;
  margin: 1rem 0;
}

form input {
  padding: 1rem 0;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #717775;
}

form p {
  text-align: right;
  margin-bottom: 1.5rem;
}

form p a {
  font-size: 0.8rem;
  font-weight: 500;
  color: #a4c4b5;
  text-decoration: none;
}

form button {
  padding: 0.75rem 3rem;
  max-width: fit-content;
  margin: auto;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #717775;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background-color: #a4c4b5;
}

.divider {
  position: relative;
  isolation: isolate;
  text-align: center;
  width: 100%;
  max-width: 200px;
  margin: 1rem auto;
}

.divider::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #717775;
  z-index: -1;
}

.divider span {
  padding: 0 1rem;
  color: #717775;
  background-color: #ffffff;
}

.create__account {
  color: #717775;
  text-align: center;
}

.create__account a {
  color: #a4c4b5;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .container__left {
    display: none;
  }
}