/* CSS yang dipake disemuanya */
/* ALL - NAVBAR - FOOTER */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: sans-serif;
}

/* Navbar CSS */

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F6F6E9;
  box-shadow: 0px 4.5px 3.6px 0px rgba(0, 0, 0, 0.02), 0px 12.5px 10px 0px rgba(0, 0, 0, 0.04), 0px 30.1px 24.1px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}

header .logo img {
  width: 200px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a {
  margin-right: 20px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.nav a:nth-child(4){
  display: none;
}

.btn-login{
  padding: 3px 10px;
  border-radius: 15px;
  border: 2px solid #000;
}

.btn-login:hover{
  border-color: rgb(154, 152, 152);
}

.nav a:hover {
  color: rgb(117, 117, 117)
}

.nav img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#menu {
  font-size: 35px;
  display: none;
  cursor: pointer;
}

@media (max-width:768px) {
  #menu {
    display: block;
  }
  .nav a:nth-child(4){
    display: block;
  }

  header {
    padding: 10px 50px;
  }

  header .logo img {
    width: 180px;
  }

  .nav {
    top: 60px;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: #e8e8db;
    padding: 5px;
    display: none;
  }

  .nav.active {
    display: block;
    width: 100%;
  }

  .nav a {
    margin-right: 0px;
    text-align: center;
    display: block;
    padding: 10px;
  }

  .nav a:hover {
    color: rgb(117, 117, 117)
  }

  .nav img {
    display: none;
  }
}

@media (max-width:425px) {
  header {
    padding: 10px 30px;
  }

  header .logo img {
    width: 100px;
  }

  #menu {
    font-size: 30px;
  }

  .nav {
    top: 50px;
  }

  .nav a {
    font-size: 15px;
  }

  .nav a:hover {
    color: rgb(117, 117, 117)
  }

  .nav img {
    display: none;
  }
}

/* Footer CSS*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 200px 20px;
  border-top: 1px solid #000;
  background-color: #F6F6E9;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.footer-content .footer-heading {
  color: #000;
  text-align: justify;
  font-size: 25px;
  font-weight: 400;
}

.footer-content .kiri {
  width: 70%;
}

.footer-content .kanan {
  width: 30%;
}

.footer-content .kiri p {
  color: #000;
  text-align: justify;
  font-size: 13px;
  font-weight: 400;
}

.kanan .footer-link a {
  color: #000;
  text-align: justify;
  font-size: 13px;
  font-weight: 400;
}

.kanan .footer-link {
  display: flex;
  flex-direction: column;
}

footer h3 {
  font-size: 15px;
}

/* BREAKPOINT */
@media (max-width:768px) {
  footer {
    gap: 40px;
    padding: 60px 80px 20px;
  }

  .footer-content .footer-heading {
    font-size: 25px;
  }

  .footer-content .kiri p {
    font-size: 15px;
  }

  .kanan .footer-link a {
    font-size: 15px;
  }

  footer h3 {
    font-size: 17px;
  }
}

@media (max-width:425px) {
  footer {
    gap: 20px;
    padding: 60px 80px 20px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .footer-content .kiri {
    width: 100%;
  }

  .footer-content .kanan {
    width: 100%;
  }

  .footer-content .footer-heading {
    font-size: 23px;
    text-align: center;
  }

  .footer-content .kiri p {
    font-size: 12px;
  }

  .kanan .footer-link a {
    font-size: 12px;
  }

  footer h3 {
    font-size: 13px;
  }
}